@use 'variables' as v

.dashboard h1
  margin-bottom: 20px



.cards
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 20px

.card
  padding: 20px
  border-radius: 6px
  color: white
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 120px

.primary
  background: v.$primary

.warning
  background: v.$warning

.success
  background: v.$success

.danger
  background: v.$danger

.charts
  margin-top: 30px
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 20px

.chart-box
  background: white
  padding: 20px
  border-radius: 6px
  width: 100%
  overflow: hidden

.table-box
  margin-top: 30px
  background: white
  border-radius: 6px
  box-shadow: 0 0.15rem 1.75rem rgba(79, 81, 107, 0.15)

.table-header
  padding: 15px 20px
  border-bottom: 1px solid #e3e6f0
  font-weight: bold

// 🔥 SEARCH FIXED
.table-search
  display: flex
  align-items: center
  gap: 10px
  padding: 10px 20px

.search-box
  position: relative
  display: inline-block

  input
    width: 220px
    padding: 8px 35px 8px 10px
    border: 1px solid #ccc
    border-radius: 4px
    outline: none

.search-icon
  position: absolute
  right: 10px
  top: 50%
  transform: translateY(-50%)
  color: gray
  font-size: 14px
  pointer-events: none
  width: 14px
  height: 14px

table
  width: 100%
  border-collapse: collapse

th
  padding: 12px
  text-align: left
  border-bottom: 1px solid #e3e6f0

td
  padding: 12px
  border-bottom: 1px solid #e3e6f0

tr:nth-child(even)
  background: #f8f9fc

.pagination
  padding: 15px 20px

.pagination button
  margin-right: 5px
  padding: 6px 10px
  border: 1px solid #dee2e6
  background: white
  cursor: pointer

.pagination button.active
  background: #0d6efd
  color: white

.country-cell
  display: flex
  align-items: center
  gap: 8px

.country-cell img
  width: 20px
  height: 14px
  object-fit: cover

