@use 'variables'
@use 'layout'
@use 'sidebar'
@use 'topbar'
@use 'dashboard'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: Arial, sans-serif
  background: #f8f9fc
.main
  margin-left: 250px
  width: calc(100% - 250px)